@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } */

@layer base {
  body {
    @apply bg-backgroundColor text-textColor max-w-[1400px]  w-screen px-14 mx-auto;
  }

  .activeLink {
    @apply border bg-textColor text-backgroundColor px-8 py-2 rounded-full transition-all ease-in duration-500;
  }
  .hoverNavLinkEffect {
    @apply after:translate-x-[-100%] after:transition-all after:duration-[0.9s]  after:absolute after:opacity-0 after:w-[25%] after:content-['']  after:bg-red-700  after:h-[2px] after:bottom-0 after:left-0  hover:after:opacity-100 hover:after:translate-x-[150%]  md:hover:after:translate-x-0   md:hover:after:opacity-0;
  }
  /* .container{
    @apply px-12 w-[1536px]  flex flex-col justify-between m-auto
  } */
}
